@import '../common.scss';

.wp-block-gutenberg-tabs {

	&__headers {
		width: 100%;
		padding: 0;
		margin: 0;
		display: flex;
		list-style-type: none;
		overflow: auto;

		.wp-block-gutenberg-tabs__header {
			flex-grow: 1;
			padding: 20px 12px 24px;
			border: 1px solid $grey;
			background-color: $grey-light;
			border-radius: 4px 4px 0 0;
			white-space: nowrap;

			button {
				width: 100%;
				background: none !important;
				border: none;
				outline: none;
				color: #2e2e2e !important;
				font-size: 16px;
				cursor: pointer;
			}

			&--active {
				background-color: #fff;
				border-top: 4px solid #f1c933;
				border-bottom: 0;

				button {
					color: $blue !important;
					font-weight: 900;
				}
			}
		}
	}


	&__content {
		padding: 40px;
		border: 1px solid $grey;
		border-top: 0;
		border-radius: 0 0 4px 4px;

		.wp-block-gutenberg-tab {
			display: none;

			&--active {
				display: block;
			}
		}
	}
}
