/**
 * #.# Editor Styles
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */
.editor-styles-wrapper .wp-block-gutenberg-accordion p {
  margin-top: 0;
  margin-bottom: 0;
}

.editor-styles-wrapper .wp-block-gutenberg-accordion__title > * {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 18px;
  line-height: 1.5;
  color: white;
}

.block-library-heading-level-dropdown.accordion__dropdown .components-popover__content {
  min-width: 200px;
}
